.content-wrapper {
  margin-top: 200px;
}

.btn {
  cursor: pointer;
}

.box {
  margin: 15px;
  padding: 40px 30px;
  border-radius: 0.25rem;
  background-color: lightgrey;
}

@media only screen and (max-device-width: 740px) {
  .content-wrapper {
    margin-top: 0px;
  }
}